<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MUSIC EDIT</title>
    </head>
    <body>
        <h1>음원 메타데이터 수정</h1>
        <hr>

        <form action="/edit/musicEdit/<%=post.id%>?_method=PUT" method="post">
            <table>
                <tr>
                    <td>음원명</td>
                    <td><input type="text" name="editFileName" value="<%=post.fileName%>"></td>
                </tr>
                <tr>
                    <td>앨범명</td>
                    <td><input type="text" name="editAlbumName" value="<%=post.albumName%>"></td>
                </tr>
                <tr>
                    <td>아티스트명</td>
                    <td><input type="text" name="editArtistName" value="<%=post.artistName%>"></td>
                </tr>
            </table>
            <input type="submit" value="수정">
        </form>
        <p>음원 수정</p>
        <form action="/upload/update/<%=post.id%>" method="post" enctype="multipart/form-data">
            <input type="file" name="imgFile">
            <input type="submit" value="음원 업로드하기">
        </form>
    </body>
</html>