<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MUSIC LIST</title>
    </head>
    <body>
    <h1>음원 리스트</h1>
    <form action="/upload/create" method="post" enctype="multipart/form-data">
        <input type="file" name="imgFile">
        <input type="submit" value="음원 업로드하기">
    </form>
    <form action="/edit/ascList" method="get">
        <input type="submit" value="이름순 정렬">
    </form>
    <form action="/edit/musicList" method="get">
        <input type="submit" value="모든 목록">
    </form>
    <form action="/edit/searchList" method="post">
        <label>제목 검색 : <input type="text" name="searchName"></label>
        <input type="submit" value="검색">
    </form>
    <table border="1">
        <tr>
            <td>NO</td>
            <td>음원명</td>
            <td>앨범명</td>
            <td>아티스트 이름</td>
        </tr>
        <% for(let post of posts) { %>
            <tr>
                <td><%= post.id%></td>
                <td><%= post.fileName%></td>
                <td><%= post.albumName%></td>
                <td><%= post.artistName%></td>
                <td><button><a href="/edit/musicEdit/<%=post.id%>">수정</a></button></td>
                <form action="/edit/musicList/<%=post.id%>?_method=DELETE" method="post">
                    <td><input type="submit" value="삭제"></input></td>
                </form>
            </tr>
        <% } %>
    </table>
    </body>
</html>